@page {
    size: auto;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
}

@font-face
{
    font-family: "yekan-font";
    src:url(../font/BYekan_1.ttf);
}

@font-face
{
    font-family: "nazanin-font";
    src:url(../font/BNazanin.ttf);
}

@font-face
{
    font-family: "nazanin-bold-font";
    src:url(../font/BNaznnBd.ttf);
}

*{
    font-family: "nazanin-font";
    font-size:12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#bold{
    font-family: "nazanin-bold-font";
    font-weight: bold ; 
    font-size:15px;
}

#smal, #smal *{
    padding:0;
    font-size:10px;
}

#normal{
    font-family: "nazanin-font";
    font-size:12px;
}

body{
    padding:0;
    margin:0;
}
.print-area{
    position:relative;
    padding:0;
    margin-left:91px;
    width:202px;
    height:180px;
    border:1px solid black;
    border-radius: 5px;
    overflow:hidden;
    direction:rtl;
}

.city-name , .postal-code{
    display:flex;
    justify-content:center;
    border-bottom:1px solid black;
}

.title-part{
    width:100%;
    border-bottom:1px solid black;
    padding-right:5px;
}

.adress-part{
    width:calc(100% - 10px);
    padding-right:5px;
}

    .postal-code div, .city-name div
    {
        width:50%;
        padding-right:5px;
    }

    .postal-code div:first-child, .city-name div:first-child
    {
        border-left:1px solid black;
    }

    



.print-head{
    width:100%;
    text-align: center;
    position: absolute;
    top:51px;
}

.print-logo{
    position: absolute;
    top:5px;
    left:80px;
    width: 40px;
}

.post-type{
    position: absolute;
    top:35px;
    left:60px;
    width:77px;
    text-align: center;
}

.left-part{
    position: absolute;
    width:calc(100% - 10px);
    left:0;
    top:70px;
    margin-left:5px;
    margin-top:-2px;
}

    .my-border{
        border:1px dashed black;
        margin:1px;
    }

    .important-values{
        display:inline-block;
        text-align: center;
    }

    .two-part{
        display:flex;
        justify-content: center;
    }

    .two-part div{
        width:50%;
    }

    .barcode-part{
        width:100%;
        height:23px;
    }

    .barcode-text{
        padding-top:0;
        margin-top:-10px;
        text-align: center;
    }

    #qrcode{
        position: absolute;
        right:8px;
        top:5px;
        /*top:77px;*/
    }